<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    <main>
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </main>
    <footer>
        <!-- Pied de page -->
    </footer>
</body>
</html>
