{% extends 'base.html' %}

{% block title %}Visualisation de Données{% endblock %}

{% block css %}
<style>
    .content-container {
        margin: 0 auto;
        max-width: 90%;
        padding: 0 20px;
    }

    .image-container {
        margin-bottom: 20px;
        text-align: center;
    }

    .image-title, .heatmap-title, .markermap-title {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
        text-align: center;
    }

    .image-description {
        background-color: rgba(255, 255, 255, 0.7); 
        border: 1px solid #ccc; 
        padding: 10px;
        border-radius: 8px;
        font-size: 14px;
        color: #393939;
        margin-bottom: 15px;
        text-align: center; 
    }

    .heatmap-frame, .markermap-frame {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>
{% endblock %}


{% block content %}
    <div class="content-container">
        <!-- Première Image -->
        <div class="image-container">
            <h3 class="image-title">Nuage de Mots des Pays présents dans le dataset</h3>
            <img src="{{ url_for('static', filename='VisualisationDeDonnee/Entree/nuage_mots_pays.png') }}" alt="Nuage de Mots des Pays">
            <p class="image-description">Ce graphique représente les pays présents dans notre dataset, avec la taille de la police correspondant au nombre de points du pays. Il est important de préciser que l'objectif du modèle mis en place est de jouer en premier lieu à GeoGuessr, et donc que tous les pays ne seront pas représentés (comme dans le jeu). Le problème de cette visualisation est que la taille du pays n'est pas prise en compte.</p>
        </div>

        <!-- Deuxième Image -->
        <div class="image-container">
            <h3 class="image-title">Ratio de Représentation des Pays par leur surface</h3>
            <img src="{{ url_for('static', filename='VisualisationDeDonnee/Entree/ratio_representation_pays_10_points.png') }}" alt="Ratio de Représentation des Pays">
            <p class="image-description">Cette fois-ci, nous avons pris en compte la superficie des pays (ainsi que les pays ayant minimum 10 points GPS dans le dataset). Cet histogramme représente la moyenne normalisée du ratio de points dans le dataset par rapport à la superficie des pays. De cette manière, nous remarquons que les Pays-Bas sont presque cinq fois plus représentés que la moyenne. Cette différence s'explique par la manière dont le dataset est généré (voir la section <a href="/help">Aide & Ressources</a> qui explique le processus), car nous créons des grilles de quelques kilomètres carrés de manière aléatoire dans le monde. En conséquence, les pays ayant une densité de routes plus élevée seront mieux représentés que les pays ayant des routes plus espacées. Ce graphique pourrait également nous donner l'impression que les États-Unis sont sous-représentés, mais comme nous l'avons vu dans le graphique précédent, c'est le pays ayant le plus grand nombre de points.
            </p>
        </div>
        <!-- Cloroplethe -->
        <div class="country-selector-container">
            <h3 class="image-title">Carte chloroplethe par pays</h3>
            <p class="image-description">Une carte choroplèthe est une représentation cartographique où les zones géographiques sont colorées ou ombrées en fonction du nombre d'images obtenu dans le jeu de données. Les couleurs sur la carte indiquent les variations du nombre d'images dans chaque zone, offrant ainsi une visualisation précise des différences régionales. Les tons plus foncés ou plus intenses représentent un nombre d'images plus élevé, tandis que les tons plus clairs correspondent à un nombre d'images plus bas.</p>
            <label for="country-select">Choisissez un pays :</label>
            <select id="country-select" onchange="updateCountryMap()">
                <!-- Les options seront ajoutées ici via JavaScript -->
            </select>
        </div>
        
        <div class="image-container">
            <img id="country-map" src="" alt="Carte du pays sélectionné" style="max-width:100%; height:auto;">
        </div>

        <script>
            function updateCountryMap() {
                var selectedCountry = document.getElementById('country-select').value;
                var imagePath = "/static/VisualisationDeDonnee/Entree/cloroplethe/chloroplethe " + selectedCountry + ".png";
                document.getElementById('country-map').src = imagePath;
            }

            // Fonction pour initialiser les options du menu déroulant
            function initializeCountryOptions(countries) {
                var selectElement = document.getElementById('country-select');
                countries.forEach(function(country, index) {
                    var option = document.createElement('option');
                    option.value = country;
                    option.text = country;
                    selectElement.appendChild(option);

                    // Définir la valeur par défaut (par exemple, le premier pays dans la liste)
                    if (index === 0) {
                        selectElement.value = country;
                    }
                });
            }

            // Exemple de liste de pays
            initializeCountryOptions(['Argentina', 'Australia', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Finland', 'France', 'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Mexico', 'Netherlands', 'Norway', 'Philippines', 'Poland', 'Romania', 'Russia', 'South Africa', 'Spain', 'Sweden', 'Thailand', 'Turkey', 'United Kingdom', 'United States']);

            // Charger l'image par défaut
            updateCountryMap();
        </script>

        

        <!-- Heatmap -->
        <h3 class="heatmap-title">Heatmap interactive des points du dataset</h3>
        <div class="heatmap-frame">
            <iframe src="{{ url_for('static', filename='VisualisationDeDonnee/Entree/heatmap_custom.html') }}" width="100%" height="800px" frameborder="0"></iframe>
        </div>

        <!-- Marker Map -->
        <h4 class="markermap-title">Visualisation Clusterisée des points du dataset</h4>
        <div class="markermap-frame">
            <iframe src="{{ url_for('static', filename='VisualisationDeDonnee/Entree/markermap_custom.html') }}" width="100%" height="800px" frameborder="0"></iframe>
        </div>

    </div>
{% endblock %}