{% extends 'base.html' %}

{% block title %}Jouer{% endblock %}

{% block css %}
<style>
    #map {
        height: 600px;
    }
    #marker-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #map-container {
        width: 90%;
        height: 800px; 
        border: 2px solid black;  /* Set the desired border size and color */
        overflow: hidden;  /* Hide overflow content */
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-size: 24px;
        font-weight: normal;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <p>Utilisez uniquement des images au format JPG</p>

    <form id="marker-container" enctype="multipart/form-data" action="/predict1" method="POST">
        <input type="file" name="image" accept=".png, .jpeg, .jpg" id="fileInput" onchange="enablePredictButton()" />
        <button type="button" id="predictButton" onclick="predict()">Prédire</button>
    </form>
    
    <div id="map-container">
        <iframe id="map-iframe"></iframe>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // Initialiser la carte avec un emplacement et un niveau de zoom
        var map = L.map('map-container').setView([0, 0], 2);

        // Ajouter une couche de carte OpenStreetMap à la carte
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 12, "maxZoom": 12, "minZoom": 2, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            )
            .addTo(map);

        var iconOptions = {
            iconUrl: '{{ url_for("static", filename="ikea.png") }}',
            iconSize: [50, 50]
        }

        var markerOptions = {
            draggable: false,
            icon: L.icon(iconOptions)
        }

        var marker = L.marker([0, 0], markerOptions).addTo(map);
        
        marker.setOpacity(0);

        function enablePredictButton() {
            var fileInput = document.getElementById('fileInput');
            var predictButton = document.getElementById('predictButton');

            // Enable the "Prédire" button if a file is selected
            predictButton.disabled = !fileInput.files || fileInput.files.length === 0;
        }
        var marker2;
        var line;
        enablePredictButton()

        function predict() {
            if (line && map.hasLayer(line)) {
                    // If a line exists, remove it from the map
                    map.removeLayer(line);
                }
            var file = fileInput.files[0];
            var fileName = file.name;

            var match = fileName.match(/([-+]?\d*\.\d+|\d+)/g);
            if (match && match.length >= 2) {
                var lat = parseFloat(match[0]);
                var lng = parseFloat(match[1]);

                // Check if marker2 exists, remove it if it does
                if (marker2) {
                    map.removeLayer(marker2);
                }

                // Create a new marker2
                marker2 = L.marker([lat, lng], {
                    draggable: false
                }).addTo(map);
            } 
            else {
                if (marker2) {
                    map.removeLayer(marker2);
                }
                marker2 = L.marker([0, 0], {
                    draggable: false
                }).addTo(map);
                marker2.setOpacity(0);
            }

            var predictButton = document.getElementById('predictButton');
            predictButton.disabled = true;
            if (map.hasLayer(marker)) {
                // If a marker exists, remove it from the map
                map.removeLayer(marker);
            }
            // Create a FormData object to send the file
            var formData = new FormData(document.getElementById('marker-container'));

            fetch('/predict1', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.result);
                var lat = data.result[0];
                var lng = data.result[1];

                marker = L.marker([lat, lng], markerOptions).addTo(map);
                marker.setOpacity(1);
                getDistance();
            })
            .catch(error => console.error('Error:', error));
        }
        function getDistance(){
            if (map.hasLayer(marker) && map.hasLayer(marker2)) {
                var opacityMarker1 = marker.options.opacity;
                var opacityMarker2 = marker2.options.opacity;

                if (opacityMarker1 === 1 && opacityMarker2 === 1) {
                    // Obtenir les coordonnées des deux marqueurs
                    var latlng1 = marker.getLatLng();
                    var latlng2 = marker2.getLatLng();

                    // Créer une ligne entre les deux marqueurs
                    line = L.polyline([latlng1, latlng2], { color: 'red' }).addTo(map);

                    // Calculer la distance entre les deux points en kilomètres
                    var distanceInKm = latlng1.distanceTo(latlng2) / 1000;
                    line.bindTooltip('Distance : ' + distanceInKm.toFixed(2) + ' km').openTooltip();
                    // Afficher la distance dans la console
                    console.log('Distance entre les deux points : ' + distanceInKm + ' km');
                }
            }
        }
</script>
</body>
{% endblock %}